**/IzvorniKod/db.sqlite3
**/db.sqlite3
**/venv
**/IzvorniKod/Radovi
**/IzvorniKod/MK2ZK_App/__pycache__
**/IzvorniKod/MK2ZK_Project/__pycache__
**/IzvorniKod/MK2ZK_App/migrations/__pycache__/
**/IzvorniKod/MK2ZK_App/views/__pycache__
.env
