@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

  /*Bitno za animaciju rotacije hamburger menija*/
@keyframes rotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
 }   


.gradient-custom-3 {
    /* fallback for old browsers */
    background: #8fb5cc;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #f2f2f2, #8FB5CC);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #f2f2f2, #8FB5CC);
}

.card {
    background-color: #f2f2f2;
    border-radius: 15px;
}

.btn {
    background-color: #1c3a9c;
    border-color: #1c3a9c;
}

.btn:hover {
    background-color: #c1666b;
    border-color: #c1666b;
}

.mask {
    padding: 5rem;
}

.btn-primary {
    background-color: #1c3a9c;
    border-color: #1c3a9c;
}

.btn-primary:hover {
    background-color: #c1666b;
    border-color: #c1666b;
}
.btn-outline-primary:hover {
    background-color: #c1666b;
    border-color: #c1666b;
}

.list-group-item:hover {
    background-color: #8fb5cc;
    color: black;
    font-weight: bold;
}

.buttons {
    list-style-type: none;
}

.radiobuttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

input[type='radio'],input[type='checkbox'] { 
    transform: scale(1.25); 
}

.active-fields-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
}

button.acc-btn {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    grid-gap: 10px;
}

.btn.btn-rounded {
    border-radius: 5rem;
    border: none;
    font-size: small;
    padding: none;
    text-align: center;    
}
