{% load static %}
<!DOCTYPE html>
<html>
  <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Prijava</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" href="{% static '/vectors/icon.svg' %}">
            <link href="{% static '/css/bootstrap-grid.css' %}" rel="stylesheet">
            <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static '/css/headers.css' %}" rel="stylesheet">
            <!--nas css-->
            <link rel="stylesheet" href="{% static '/css/mycss.css' %}">
            <!--nas css-->
            <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  </head>

        

  <body>
          <!--HEADER-->
          {% include "./Header.html" %}
          <!--HEADER-->
          <H1>Covid stats template</h1>
              <!--FOOTER-->
              {% include "./Footer.html" %}
              <!--FOOTER-->

  </body>
        
  <!--nas js-->
  <script src="{% static '/js/hamburgerActions.js' %}"></script>
  <script src="{% static '/js/newPassword.js' %}"></script>
  <!--nas js-->
</html>