{% load static %}
<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Naslovna</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" href="{% static '/vectors/icon.svg' %}">

            <!-- Vendor CSS Files -->
            <link href="{%static 'css/vendor/animate.min.css' %}" rel="stylesheet">
            <link href="{%static 'css/vendor/bootstrap-icons.css' %}" rel="stylesheet">
            <!--Template Main CSS File-->
            <link href="{%static 'css/vendor/style.css' %}" rel="stylesheet">
           
            <link href="{% static '/css/bootstrap-grid.css' %}" rel="stylesheet">
            <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static '/css/headers.css' %}" rel="stylesheet">
           

            <!--nas css-->
            <link rel="stylesheet" href="{% static '/css/mycss.css' %}">
            <!--nas css-->

            <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
        </head>


        <body>
            <!--HEADER--> 
            {% include "./Header.html" %}
            <!--HEADER-->

            <!--Ako npr nakon sign in treba displayat "Vaš account jos nije potvrden. Molimo potvrdite svoj account"-->
            {% if messages %}
                {% for message in messages %}
                <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                {% endfor %}
            {% endif %}
            <!---->

            <!-- ======= Hero Section ======= -->
      <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active">
              <img src="https://cdn.pixabay.com/photo/2020/04/12/18/13/background-5035258_1280.jpg" alt="#" style="width: 100%">
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">Dobrodošli na <span>Znanstvenu konferenciju</span></h2>
                  <div class="animate__animated animate__fadeInUp countdown-container">
                    {%if LoggedInUserRole == "Sudionik" or LoggedInUserRole == "Admin" or LoggedInUserRole == "Predsjedavajuci" or not LoggedInUserRole %}
                    <span id ="rok">Vrijeme preostalo za izvršavanje registracije i predaje znanstvenog rada: </span>
                    <input type="hidden" id="rokPrijave" name="rokPrijave" value="{% firstof infoKonferencija.rokPrijave "Nedefiniran datum" %}">
                    {%elif LoggedInUserRole == "Recenzent"%}
                    <span id ="rok">Vrijeme preostalo do roka za recenziranje radova: </span>
                    <input type="hidden" id="rokPrijave" name="rokPrijave" value="{% firstof infoKonferencija.rokRecenzenti "Nedefiniran datum" %}">
                    {%endif%}

                    <div id = "countdownid" class="row countdown-container">
                        <div class="countdown-frame col-xs-10 col-sm-5 col-md-2">
                          <span id="countdown-days"></span><div>dana</div>
                        </div>
                        <div class="countdown-frame col-xs-10 col-sm-5 col-md-2">
                          <span id="countdown-hours"></span><div>sati</div>
                        </div>
                        <div class="countdown-frame col-xs-10 col-sm-5 col-md-2">
                          <span id="countdown-minutes"></span><div>minuta</div>
                        </div>
                        <div class="countdown-frame col-xs-10 col-sm-5 col-md-2">
                          <span id="countdown-seconds"></span><div>sekundi</div>
                        </div>
                    </div>
                  </div>

                  {%if not LoggedInUser %}
                  <a href="signup" class=" btn btn1 btn-primary animate__animated animate__fadeInUp scrollto">Registriraj se</a>
                  {%else%}
                    {%if LoggedInUserRole == "Sudionik" %}
                  <a href="mojiradovi" class="btn btn1 btn-primary animate__animated animate__fadeInUp scrollto">Predaj rad</a>
                    {%endif%}
                  {%endif%}
                </div>
              </div>
            </div>

            {%if LoggedInUser %}
            <!-- Slide 2 -->
            <div class="carousel-item">
              <img src="https://cdn.pixabay.com/photo/2017/07/13/12/55/puzzle-2500333_1280.jpg" alt="#" style="width: 100%;">
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">Otkrij nova, zanimljiva istraživanja</h2>
                  <p class="animate__animated animate__fadeInUp">Priključi se, otkrij koje su najnovije teme i znanstvene rasprave u području tvog interesa.</p>
                  {% if LoggedInUser %}
                  <a href="javniradovi" class=" btn btn1 btn-primary animate__animated animate__fadeInUp scrollto">Pogledaj javno dostupne znanstvene radove</a>
                  {% else %}
                  <a href="info" class="btn btn-primary animate__animated animate__fadeInUp scrollto">Saznaj više</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {%endif%}

            <!-- Slide 3 -->
            <div class="carousel-item">
              <img src="https://cdn.pixabay.com/photo/2018/03/10/09/45/businessman-3213659_1280.jpg" alt="#" style="width: 100%;">
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">Informacije o konferenciji</h2>
                  <p class="animate__animated animate__fadeInUp">Ovdje se nalaze svi detalji o samoj konferenciji.</p>
                  <a href="info" class="btn btn-primary animate__animated animate__fadeInUp scrollto">Saznaj više</a>
                </div>
              </div>
            </div>

          </div>
          

          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev" style="text-decoration: none;">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
          </a>

          <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next" style="text-decoration: none;">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
          </a>

        </div>
      </section><!-- End Hero -->

      <div class="gradient-custom-3 card-container" style="min-height: 100vh; flex-direction: column;">

        {% for clanak in Clanci %}
        <div class="container pt-5 pb-5 card-item">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
    
              <div class="text-uppercase text-center mb-5">
                  <div style="padding-bottom: 9px;" id="titleDiv">
                    <div>
                      <h2 style="display: inline;" id="myTitle">{{clanak.naslov}}</h2>
                    </div>
                  </div>
                  
                <hr>
              </div>
    
              <div class="container">
                  {{clanak.tekst}}
              </div>

              
            <hr>
            <div class="text-muted"><i> {{clanak.autor.ime}}</i></div>

            </div>

          </div>
        </div>

        {%endfor%}

      </div>
      <!--FOOTER-->
      {% include "./Footer.html" %}
      <!--FOOTER-->
      </body>

        <!--nas js-->
        <script src="{% static '/js/hamburgerActions.js' %}"></script>
        <!--nas js-->

        <!-- Vendor JS Files -->
        <script src="{% static '/js/vendor/glightbox.min.js' %}"></script>
        <script src="{% static '/js/vendor/isotope.pkgd.min.js' %}"></script>
        <script src="{% static '/js/vendor/swiper-bundle.min.js' %}"></script>
        <script src="{% static '/js/vendor/noframework.waypoints.js' %}"></script>
        <script src="{% static '/js/countdownScript.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static '/js/vendor/main.js' %}"></script>

</html>