<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Trešnja (latinski: Prunus avium), listopadna je vrsta drveća iz porodice Rosaceae.
    </p>
    <p>
        Stablo trešnje naraste do 20 m, prsnog promjera do 70 cm.
    </p>

    <p>
        Kora je sivo-crvenkaste boje, sjajna, glatka, ljušti se u obliku koncentričnih krugova. Pri dnu debla stvara se tamni lub, koji se uzdužno raspucava. Izbojci su s jedne strane sivkasti, dok su s druge strane smeđkasti.
        Pupovi su jajoliko čunjasti, na vrhu ušiljeni, obavijeni većim brojem smeđkastih ljuskica, čiji su rubovi sivkasti. Smješteni su naizmjenično i često nagomilani.
        Listovi su eliptični do obrnuto jajoliki, na vrhu ušiljeni, a na bazi suženi, rubovi su napiljeni. Listovi su dugi do 12 cm, s donje strane posuti rijetkim bijelim dlačicama. Na prijelazu od plojke do peteljke lista vide se dvije crvenkaste žlijezde. Prije otpadanja listovi pocrvene.
        Cvjetovi rastu prije listanja, na prošlogodišnjim izbojcima. Bijele su boje, rastu gusto nagomilani, vise na dugim stapkama, a cvat je u obliku gronje.
        Plod je trešnja, jestiva tamnocrvena koštunica s debelim, mesnatim i sočnim usplođem.
    </p>
</body>
</html>
