{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>O konferenciji</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/vectors/icon.svg' %}">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/headers.css' %}" rel="stylesheet">
    <!--nas css-->
    <link rel="stylesheet" href="{% static '/css/mycss.css' %}">
    <!--nas css-->
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    
</head>


<body>

  <!--HEADER-->
  {% include "./Header.html" %}
  <!--HEADER-->

  <div class="gradient-custom-3 " style="min-height: 100vh;">
    <div class="container pt-5 pb-5">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">

          <div class="text-uppercase text-center mb-5">
              <div style="padding-bottom: 9px;" id="titleDiv">
                <div>
                  <h2 style="display: inline;" id="myTitle">O konferenciji</h2>
                  
                  <!-- u dokumentaciji piše da mijenja svaku stvar zasebno ako želi kao i za osobne podatke-->
                  <!-- {% if LoggedInUser %}
                  {%if LoggedInUserRole == "Admin"%}
                  <span data-bs-toggle="tooltip" title="Uredi" id="UpdateTitle">
                    <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="16" height="16" onclick="UpdateTitle()" value="UpdateTitle"><use xlink:href="#pencil-square"/></svg>
                  </span>

                  <div style="display: none; margin-left: 5px;" id="formTitleChange">
                    <button style="border: none; background: none" onclick="" data-bs-toggle="tooltip" title="Spremi promjene" name='newTitle'>
                      <svg style="margin-bottom: 6px;" width="16" height="16"><use xlink:href="#save-changes"/></svg>
                    </button>
                    <span data-bs-toggle="tooltip" title="Odbaci promjene">
                      <svg style="margin-bottom: 6px;" type="button" width="16" height="16" onclick="CancelTitle()" id="CancelTitle" value="CancelTitle"><use xlink:href="#cancel-changes"/></svg>
                    </span>
                  </div>

                  <form action="/info" method="post" id='NewTitleForm'>
                    {% csrf_token %}
                    <div>
                      <div id="TitleColapse" class="collapse collapse-horizontal">
                        <input type="text" class="form-control" id="Title" name="Title" Required>
                      </div>
                    </div>
                    
                  </form>

                  {%endif%}
                  {%endif%}
                   -->


                </div>
              </div>
              
            <hr>
          </div>


          <div class="container">
            <div style="padding-bottom: 9px;" id="NazivDiv">
              <div>
                <div  style="display: inline;" class="fs-5">Naziv konferencije</div>
                {%if LoggedInUserRole == "Admin"%}
                <span data-bs-toggle="tooltip" title="Uredi">
                  <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="16" height="16" onclick="UpdateNaziv()" id="UpdateNaziv" value="UpdateNaziv"><use xlink:href="#pencil-square"/></svg>
                </span>

                <div style="display: none; margin-left: 5px" id="formNazivChanges">
                  <button style="border: none; background: none" type="submit" form="NewNazivForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewNaziv'>
                    <svg style="margin-bottom: 6px;" width="16" height="16"><use xlink:href="#save-changes"/></svg>
                  </button>
                  <span data-bs-toggle="tooltip" title="Odbaci promjene">
                    <svg style="margin-bottom: 6px;" type="button" width="16" height="16" onclick="CancelUpdateNaziv()" id="cancelNaziv" value="cancelNaziv"><use xlink:href="#cancel-changes"/></svg>
                  </span>
                </div>
              </div>
              {%endif%}
              
              <div class="fs-4 fw-bold" id='naziv'>{% firstof konferencijaNaziv "Unesite naziv konferencije" %} </div>
              

              <form action="/info" method="post" id='NewNazivForm'>
                {% csrf_token %}
                <div style="max-width: 15rem;" id="NazivCollapse" class="collapse collapse-horizontal">
                  <input type="text" class="form-control" id="Naziv" name="Naziv" placeholder={{konferencijaNaziv}}>
                </div>                        
              </form>
            </div>   
          </div>
                  
             
            <br>
            <div class="container">
              <div style="padding-bottom: 9px;" id="OpisDiv">
                <div>
                  <div  style="display: inline;" class="fs-5">Opis konferencije</div>
                  {%if LoggedInUserRole == "Admin"%}
                  <span data-bs-toggle="tooltip" title="Uredi">
                    <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="16" height="16" onclick="UpdateOpis()" id="UpdateOpis" value="UpdateOpis"><use xlink:href="#pencil-square"/></svg>
                  </span>
          
                  <div style="display: none; margin-left: 5px" id="formOpisChanges">
                    <button style="border: none; background: none" type="submit" form="NewOpisForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewOpis'>
                      <svg style="margin-bottom: 6px;" width="16" height="16"><use xlink:href="#save-changes"/></svg>
                    </button>
                    <span data-bs-toggle="tooltip" title="Odbaci promjene">
                      <svg style="margin-bottom: 6px;" type="button" width="16" height="16" onclick="CancelUpdateOpis()" id="cancelOpis" value="cancelOpis"><use xlink:href="#cancel-changes"/></svg>
                    </span>
                  </div>
                </div>
                {%endif%}
                
                <div class="fs-4 fw-bold" id='opis'>{% firstof opis "Unesite Opis konferencije" %} </div>
                
          
                <form action="/info" method="post" id='NewOpisForm'>
                  {% csrf_token %}
                  <div style="max-width: 15rem;max-height: 15rem;" id="OpisCollapse" class="collapse collapse-horizontal">
                    <textarea rows="4" cols="50"  id="Opis" name="Opis" > {% firstof opis "Unesite Opis konferencije" %}
                    </textarea>
                  </div>                        
                </form>
              </div>
            </div>  
            
                  
            <br>
            <div class="container">
              <div style="padding-bottom: 9px;" id="DatumDiv">
                <div>
                  <div style="display: inline;" class="fs-5">Datum konferencije </div>
                  {%if LoggedInUserRole == "Admin"%}
                  <span data-bs-toggle="tooltip" title="Uredi">
                    <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="16" height="16" onclick="UpdateDatum()" id="UpdateDatum" value="UpdateDatum"><use xlink:href="#pencil-square"/></svg>
                  </span>
    
                  <div style="display: none; margin-left: 5px" id="formDatumChanges">
                    <button style="border: none; background: none" type="submit" form="NewDatumForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewDatum'>
                      <svg style="margin-bottom: 6px;" width="16" height="16"><use xlink:href="#save-changes"/></svg>
                    </button>
                    <span data-bs-toggle="tooltip" title="Odbaci promjene">
                      <svg style="margin-bottom: 6px;" type="button" width="16" height="16" onclick="CancelUpdateDatum()" id="cancelDatum" value="cancelDatum"><use xlink:href="#cancel-changes"/></svg>
                    </span>
                  </div>
                </div>
                {%endif%}
                <div class="fs-4 fw-bold" id='datum'>{% firstof datum "Unesite datum konferencije" %}</div>
                
                <form action="/info" method="post" id='NewDatumForm'>
                  {% csrf_token %}
                  <div style="max-width: 15rem;" id="DatumCollapse" class="collapse collapse-horizontal">
                    <input type="date" class="form-control" id="Datum" name="Datum" placeholder="datum konferencije" value="">
                  </div>
                </form>
              </div>
            </div>
              
            
            <br>
            <div class="container">
              <div style="padding-bottom: 9px;" id="RokPocPrijavaDiv">
                <div>
                  <div  style="display: inline;" class="fs-5">Početak prijava na konferenciju</div>
                  {%if LoggedInUserRole == "Admin"%}
                  <span data-bs-toggle="tooltip" title="Uredi">
                    <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="16" height="16" onclick="UpdateRokPocPrijava()" id="UpdateRokPocPrijava" value="UpdateRokPocPrijava"><use xlink:href="#pencil-square"/></svg>
                  </span>
          
                  <div style="display: none; margin-left: 5px" id="formRokPocPrijavaChanges">
                    <button style="border: none; background: none" type="submit" form="NewRokPocPrijavaForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewRokPocPrijava'>
                      <svg style="margin-bottom: 6px;" width="16" height="16"><use xlink:href="#save-changes"/></svg>
                    </button>
                    <span data-bs-toggle="tooltip" title="Odbaci promjene">
                      <svg style="margin-bottom: 6px;" type="button" width="16" height="16" onclick="CancelUpdateRokPocPrijava()" id="cancelRokPocPrijava" value="cancelRokPocPrijava"><use xlink:href="#cancel-changes"/></svg>
                    </span>
                  </div>
                </div>
                {%endif%}
                
                <div class="fs-4 fw-bold" id='RokPocPrijava'>{% firstof rokPocPrijava "Unesite datum početka prijava na konferenciju" %} </div>
                
          
                <form action="/info" method="post" id='NewRokPocPrijavaForm'>
                  {% csrf_token %}
                  <div style="max-width: 15rem;" id="RokPocPrijavaCollapse" class="collapse collapse-horizontal">
                    <input type="datetime-local" class="form-control" id="RokPocPrijava" name="RokPocPrijava" placeholder="Pocetak prijava na konferenciju">
                  </div>                        
                </form>
              </div>  
                 
          </div>
         
          
          <br>
            <div class="container">
              <div style="padding-bottom: 9px;" id="RokPrijavaDiv">
                <div>
                  <div  style="display: inline;" class="fs-5">Rok za prijavu na konferenciju</div>
                  {%if LoggedInUserRole == "Admin"%}
                  <span data-bs-toggle="tooltip" title="Uredi">
                    <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="16" height="16" onclick="UpdateRokPrijava()" id="UpdateRokPrijava" value="UpdateRokPrijava"><use xlink:href="#pencil-square"/></svg>
                  </span>
          
                  <div style="display: none; margin-left: 5px" id="formRokPrijavaChanges">
                    <button style="border: none; background: none" type="submit" form="NewRokPrijavaForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewRokPrijava'>
                      <svg style="margin-bottom: 6px;" width="16" height="16"><use xlink:href="#save-changes"/></svg>
                    </button>
                    <span data-bs-toggle="tooltip" title="Odbaci promjene">
                      <svg style="margin-bottom: 6px;" type="button" width="16" height="16" onclick="CancelUpdateRokPrijava()" id="cancelRokPrijava" value="cancelRokPrijava"><use xlink:href="#cancel-changes"/></svg>
                    </span>
                  </div>
                </div>
                {%endif%}
                
                <div class="fs-4 fw-bold" id='RokPrijava'>{% firstof rokPrijave "Unesite rok za prijavu konferencije" %} </div>
                
          
                <form action="/info" method="post" id='NewRokPrijavaForm'>
                  {% csrf_token %}
                  <div style="max-width: 15rem;" id="RokPrijavaCollapse" class="collapse collapse-horizontal">
                    <input type="date" class="form-control" id="RokPrijava" name="RokPrijava" placeholder="Rok prijava na konferenciju">
                  </div>                        
                </form>
              </div>  
                 
          </div>
          <br>
          <div class="container">
            <div style="padding-bottom: 9px;" id="RokPocRecenzijaDiv">
              <div>
                <div  style="display: inline;" class="fs-5">Početak recenziranja radova</div>
                {%if LoggedInUserRole == "Admin"%}
                <span data-bs-toggle="tooltip" title="Uredi">
                  <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="16" height="16" onclick="UpdateRokPocRecenzija()" id="UpdateRokPocRecenzija" value="UpdateRokPocRecenzija"><use xlink:href="#pencil-square"/></svg>
                </span>
        
                <div style="display: none; margin-left: 5px" id="formRokPocRecenzijaChanges">
                  <button style="border: none; background: none" type="submit" form="NewRokPocRecenzijaForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewRokPocRecenzija'>
                    <svg style="margin-bottom: 6px;" width="16" height="16"><use xlink:href="#save-changes"/></svg>
                  </button>
                  <span data-bs-toggle="tooltip" title="Odbaci promjene">
                    <svg style="margin-bottom: 6px;" type="button" width="16" height="16" onclick="CancelUpdateRokPocRecenzija()" id="cancelRokPocRecenzija" value="cancelRokPocRecenzija"><use xlink:href="#cancel-changes"/></svg>
                  </span>
                </div>
              </div>
              {%endif%}
              
              <div class="fs-4 fw-bold" id='RokPocRecenzija'>{% firstof rokPocRecenzija "Unesite datum početka recenziranja radova" %} </div>
              
        
              <form action="/info" method="post" id='NewRokPocRecenzijaForm'>
                {% csrf_token %}
                <div style="max-width: 15rem;" id="RokPocRecenzijaCollapse" class="collapse collapse-horizontal">
                  <input type="date" class="form-control" id="RokPocRecenzija" name="RokPocRecenzija" placeholder="Rok za pocetak recenziranja">
                </div>                        
              </form>
            </div>  
               
        </div>
        <br>
        <div class="container">
          <div style="padding-bottom: 9px;" id="RokRecenzentiDiv">
            <div>
              <div  style="display: inline;" class="fs-5">Rok za recenziranje radova</div>
              {%if LoggedInUserRole == "Admin"%}
              <span data-bs-toggle="tooltip" title="Uredi">
                <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="16" height="16" onclick="UpdateRokRecenzenti()" id="UpdateRokRecenzenti" value="UpdateRokRecenzenti"><use xlink:href="#pencil-square"/></svg>
              </span>
      
              <div style="display: none; margin-left: 5px" id="formRokRecenzentiChanges">
                <button style="border: none; background: none" type="submit" form="NewRokRecenzentiForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewRokRecenzenti'>
                  <svg style="margin-bottom: 6px;" width="16" height="16"><use xlink:href="#save-changes"/></svg>
                </button>
                <span data-bs-toggle="tooltip" title="Odbaci promjene">
                  <svg style="margin-bottom: 6px;" type="button" width="16" height="16" onclick="CancelUpdateRokRecenzenti()" id="cancelRokRecenzenti" value="cancelRokRecenzenti"><use xlink:href="#cancel-changes"/></svg>
                </span>
              </div>
            </div>
            {%endif%}
            
            <div class="fs-4 fw-bold" id='RokRecenzenti'>{% firstof rokRecenzenti "Unesite datum roka za recenziranje radova" %} </div>
            
      
            <form action="/info" method="post" id='NewRokRecenzentiForm'>
              {% csrf_token %}
              <div style="max-width: 15rem;" id="RokRecenzentiCollapse" class="collapse collapse-horizontal">
                <input type="date" class="form-control" id="RokRecenzenti" name="RokRecenzenti" placeholder="Rok za recenziranje">
              </div>                        
            </form>
          </div>  
             
      </div>
      <br>
      <div class="container">
        <div style="padding-bottom: 9px;" id="RokAdminDiv">
          <div>
            <div  style="display: inline;" class="fs-5">Rok za administratora (definiranje obrasca za prijavu)</div>
            {%if LoggedInUserRole == "Admin"%}
            <span data-bs-toggle="tooltip" title="Uredi">
              <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="16" height="16" onclick="UpdateRokAdmin()" id="UpdateRokAdmin" value="UpdateRokAdmin"><use xlink:href="#pencil-square"/></svg>
            </span>
    
            <div style="display: none; margin-left: 5px" id="formRokAdminChanges">
              <button style="border: none; background: none" type="submit" form="NewRokAdminForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewRokAdmin'>
                <svg style="margin-bottom: 6px;" width="16" height="16"><use xlink:href="#save-changes"/></svg>
              </button>
              <span data-bs-toggle="tooltip" title="Odbaci promjene">
                <svg style="margin-bottom: 6px;" type="button" width="16" height="16" onclick="CancelUpdateRokAdmin()" id="cancelRokAdmin" value="cancelRokAdmin"><use xlink:href="#cancel-changes"/></svg>
              </span>
            </div>
          </div>
          {%endif%}
          
          <div class="fs-4 fw-bold" id='RokAdmin'>{% firstof rokAdmin "Unesite datum roka za admina (definiranje obrasca za prijavu)" %} </div>
          
    
          <form action="/info" method="post" id='NewRokAdminForm'>
            {% csrf_token %}
            <div style="max-width: 15rem;" id="RokAdminCollapse" class="collapse collapse-horizontal">
              <input type="date" class="form-control" id="RokAdmin" name="RokAdmin" placeholder="Rok za administratora">
            </div>                        
          </form>
        </div> 
        <br>
        {%if LoggedInUserRole == "Admin"%} <!--admin uređuje sekcije i bira predsjedavajućeg-->

        <hr>

        <h2 class="text-uppercase  mb-5"id='sectionLabel'>Sekcije na konferenciji</h2>
        {%if sekcije%}
        
        <ul type="text" id="section" name="section">
        {%for sekcija in sekcije%}
        <li  value="{{sekcija.naziv}}">{{sekcija.naziv}}</li>
        
        {%endfor%}
        </ul>
        
        {% else %}
        <div class="fs-4 fw-bold" > Još niste unijeli ni jednu sekciju na konferenciji.</div>
        {%endif%} 

        <div class="form-outline fs-4">
          <label class="fs-5" for="">Unesi naziv nove sekcije na konferenciji</label>
        </div>
      <form action="/info" method="post" id='NewSection' enctype="multipart/form-data">

      {% csrf_token %}
      <div class="col-md-6 mb-4">
        <input type="text" name="SectionName" id="SectionName" class="form-control form-control-lg" required>
      </div>
      <div class="row" style="display: grid; grid-template-columns: 1fr 1fr 1fr; justify-items: center;">
      <button type="submit" class="btn btn-primary btn-lg" name='AddNewSection' value="Update" style="grid-column: 2;">Dodaj novu sekciju</button>
      </div>
      </form>
           
    </div>
    <hr>
    <h2 class="text-uppercase  fs-5"  id='Label'>Predsjedavajući konferencije</h2>
    <span>Uredite podatke o predsjedavajućem konferencije.</span>
    <form action="/info" method="post" enctype="multipart/form-data" id="form">
      {% csrf_token %}

      <div class="form-outline mb-4">
        <label class="fs-5" for="">Korisničko ime</label>
        <input type="text" id="Username" name="Username" placeholder="{% firstof predsjedavajuci.korisnickoIme "korisničko ime" %}" class="form-control-lg" required/>
      </div>

      <div class="form-outline mb-4">
        <label class="fs-5" for="">Ime</label>
        <input type="text" id="Fname" name="Fname" placeholder="{% firstof predsjedavajuci.ime "ime" %}" class=" form-control-lg" required/>
      </div>

      <div class="form-outline mb-4">
        <label class="fs-5" for="">Prezime</label>
        <input type="text" id="Lname" name="Lname" placeholder="{% firstof predsjedavajuci.prezime "prezime" %}" class=" form-control-lg" required/>
      </div>

      <div class="form-outline ">
        <label class="fs-5" for="">E-mail</label>
        <input type="text" id="email" name="email" placeholder="{% firstof predsjedavajuci.email "email" %}" class=" form-control-lg" required/>
      </div>
      <div class="row" style="display: grid; grid-template-columns: 1fr 1fr 1fr; justify-items: center;">
        <button type="submit" class="btn btn-primary " name='AddNewPreds' value="Update" style="grid-column: 2;">Ažuriraj podatke</button>
        </div>
    </form>
    {%endif%} 



          
            
                 
          
            
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <!--FOOTER--> 
  {% include "./Footer.html" %}
  <!--FOOTER-->
  

</body>
    <!--nas js-->
    <script src="{% static '/js/hamburgerActions.js' %}"></script>
    <script src="{% static '/js/updateInfo.js' %}"></script>
    <!--nas js-->
</html>