{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pregled radova</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static '/vectors/icon.svg' %}">
  <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/css/headers.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!--nas css-->
  <link rel="stylesheet" href="{% static '/css/mycss.css' %}">

  <!--tablice-->
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
  <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />
  
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

</head>

<body>
    <!--HEADER-->
    {% include "./Header.html" %}
    <!--HEADER-->

    <div class="gradient-custom-3 " style="min-height: 100vh;">
        <div class="container pt-5 pb-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
    
              <div class="text-uppercase text-center mb-5">
                <div style="padding-bottom: 9px;" id="titleDiv">
                  <div>
                    <h2 style="display: inline;" id="myTitle">Pregled javnih radova</h2>
                  </div>
                </div>
                <hr>
              </div>
              {% if javniBool == 1 %}
              {% if brojPredanihRadova != 0 %}
              <div class="table-responsive container mt-3 mb-3">
                <table class="table table-hover table-bordered" style="background-color: white;" id="tablicaRadovi">
                  <thead style="border-bottom: 1px;">
                    <tr class="text-center">
                      <th scope="col">Naslov</th>
                      <th scope="col">Sekcija</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for rad in Radovi %}
                      <tr class="text-center">
                        <th scope="row">{{rad.naslov}}</th>
                        <td>{{rad.radSekcija_naziv}}</td>
                        <td>{{rad.radKorisnik_prezime}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
              <div class="container text-center">
                <h4> Trenutačno nema dostupnih radova za pregled.</h4>
              </div>
              {% endif %}
              {% else %}
              <div class="container text-center">
                  <h4> Trenutačno nema dostupnih radova za pregled.</h4>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

    </div>

</body>