{% load static %}
<!DOCTYPE html>
    <html style="height: 100vh">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Osobni podatci</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
            <link rel="icon" href="{% static '/vectors/icon.svg' %}">
            <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static '/css/headers.css' %}" rel="stylesheet">
            <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
        </head>

        <style>
          .gradient-custom-3 {
            /* fallback for old browsers */
            background: #8fb5cc;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #f2f2f2, #8FB5CC);

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #f2f2f2, #8FB5CC);

          }

          .card {
            background-color: #f2f2f2;
          }
        </style>
        <body style="min-height: 100vh">

            <!--Vektorske grafike za header-->
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <!-- gumb za Naslovnicu-->
                <symbol id="home" viewBox="0 0 16 16">
                  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                </symbol>
                <!-- gumb za Prijavu -->
                <symbol id="people-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </symbol>
                <!-- gumb za uređivanje osobnih podataka -->
                <symbol id="pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </symbol>
                <!-- gumb za spremanje uređenih podataka -->
                <symbol id="save-changes" viewBox="0 0 16 16">
                  <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                </symbol>
                <!-- gumb za otkazivanje spremanja podataka -->
                <symbol id="cancel-changes" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </symbol>
                <!-- gumb ? -->
                <symbol id="sci-con" viewBox="0 0 29 29">
                    
                </symbol>
              </svg>

              <!--Nema potrebe za provjerom jer se podrazumijeva da je korisnik ulogiran-->

            <header>
                <div class="px-3 py-3 bg-dark bg-gradient text-white">
                  <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <img src="{% static '/vectors/SciConIcon.svg' %}" alt="SciCon" class="main-icon">
                      </a>
            
                      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                          <a href="/" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                            Naslovna
                          </a>
                        </li>
                        <li>
                          <a href="#" class="nav-link text-white">
                            <img src="{% static '/vectors/InfoButton.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                            O konferenciji
                          </a>
                        </li>
                        <li>
                          <a href="mojiradovi" class="nav-link text-white">
                            <img src="{% static '/vectors/BookIcon.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                            Moji radovi <!--  Za recenzenta je isti header, samo pise "Moje recenzije". -->
                          </a>
                        </li>
                        <li>
                            <!--Za ovo smo rekli da se otvori meni gdje korisnik bira?-->
                          <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                            Odjava
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </header>
            <div class="gradient-custom-3 " style="min-height: 100vh;">
              <div class="container pt-5 pb-5">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    <div class="text-uppercase text-center mb-5">
                      <h2>Osobni podatci</h2>
                      <hr>
                    </div>
                    
                    <!--ZA FRONTEND - Vrlo je važno da id ovih elemenata ne mijenjate 
                    jer se java script na dnu referira na njih-->
  
                    <!--Klasika za error messages-->
                    {% if messages %}
                        {% for message in messages %}
                        <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                        {% endfor %}
                    {% endif %}
                    
                    <!--Ako postoje informacije (Tj ako je ulogiran korisnik) prikazi ih-->
                    <div class="container">
                      <div class="row">
                        <!--Osoba per se-->
                        <div class="col-sm">
                          {%if korisnickoIme%}
                          <div style="padding-bottom: 9px;" id="UserNameDiv">
                            <div>
                              <div style="display: inline;" class="fs-4 fw-bold">Korisničko ime</div>
                              <span data-bs-toggle="tooltip" title="Uredi" id="UpdateUserName">
                                <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="18" height="18" onclick="UpdateUserName()" value="UpdateUserName"><use xlink:href="#pencil-square"/></svg>
                              </span>

                              <div style="display: none; margin-left: 5px;" id="formUserNameChanges">
                                <button style="border: none; background: none" type="submit" form="NewUserNameForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewUserName'>
                                  <svg style="margin-bottom: 6px;" width="18" height="18"><use xlink:href="#save-changes"/></svg>
                                </button>
                                <span data-bs-toggle="tooltip" title="Odbaci promjene">
                                  <svg style="margin-bottom: 6px;" type="button" width="18" height="18" onclick="CancelUpdateUsername()" id="cancelUsername" value="cancelUsername"><use xlink:href="#cancel-changes"/></svg>
                                </span>
                              </div>
                            </div>
                            
                            <div class="fs-5" id='korisnickoIme'>{{korisnickoIme}}</div>

                            <form action="/osobnipodatci" method="post" id='NewUserNameForm'>
                              {% csrf_token %}
                              <div>
                                <div style="max-width: 15rem;" id="UserNameCollapse" class="collapse collapse-horizontal">
                                  <input type="text" class="form-control" id="Username" name="Username" placeholder={{korisnickoIme}} Required>
                                </div>
                              </div>
                              
                            </form>
                          </div>
                          {%endif%}
                          
                          {%if ime%}
                          <div style="padding-bottom: 9px;" id="FNameDiv">
                            <div>
                              <div style="display: inline;" class="fs-4 fw-bold">Ime</div>
                              <span data-bs-toggle="tooltip" title="Uredi">
                                <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="18" height="18" onclick="UpdateFName()" id="UpdateFName" value="UpdateFName"><use xlink:href="#pencil-square"/></svg>
                              </span>

                              <div style="display: none; margin-left: 5px" id="formFNameChanges">
                                <button style="border: none; background: none" type="submit" form="NewFNameForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewFName'>
                                  <svg style="margin-bottom: 6px;" width="18" height="18"><use xlink:href="#save-changes"/></svg>
                                </button>
                                <span data-bs-toggle="tooltip" title="Odbaci promjene">
                                  <svg style="margin-bottom: 6px;" type="button" width="18" height="18" onclick="CancelUpdateFName()" id="cancelFName" value="cancelFName"><use xlink:href="#cancel-changes"/></svg>
                                </span>
                              </div>
                            </div>
                            
                            <div class="fs-5" id='ime'>{{ime}}</div>

                            <form action="/osobnipodatci" method="post" id='NewFNameForm'>
                              {% csrf_token %}
                              <div style="max-width: 15rem;" id="FNameCollapse" class="collapse collapse-horizontal">
                                <input type="text" class="form-control" id="Fname" name="Fname" placeholder={{ime}} Required>
                              </div>                        
                            </form>
                          </div>
                          {%endif%}
        
        
                          {%if prezime%}
                          <div style="padding-bottom: 9px;" id="LNameDiv">
                            <div>
                              <div style="display: inline;" class="fs-4 fw-bold">Prezime</div>
                              <span data-bs-toggle="tooltip" title="Uredi">
                                <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="18" height="18" onclick="UpdateLName()" id="UpdateLName" value="UpdateLName"><use xlink:href="#pencil-square"/></svg>
                              </span>

                              <div style="display: none; margin-left: 5px" id="formLNameChanges">
                                <button style="border: none; background: none" type="submit" form="NewLNameForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewLName'>
                                  <svg style="margin-bottom: 6px;" width="18" height="18"><use xlink:href="#save-changes"/></svg>
                                </button>
                                <span data-bs-toggle="tooltip" title="Odbaci promjene">
                                  <svg style="margin-bottom: 6px;" type="button" width="18" height="18" onclick="CancelUpdateLName()" id="cancelLName" value="cancelLName"><use xlink:href="#cancel-changes"/></svg>
                                </span>
                              </div>
                            </div>
                            
                            <div class="fs-5" id='prezime'>{{prezime}}</div>
                            
                            <form action="/osobnipodatci" method="post" id='NewLNameForm'>
                              {% csrf_token %}
                              <div style="max-width: 15rem;" id="LNameCollapse" class="collapse collapse-horizontal">
                                <input type="text" class="form-control" id="Lname" name="Lname" placeholder={{prezime}} Required>
                              </div>
                            </form>
                          </div>
                          {%endif%}
        
        
                          {%if email%}
                          <div style="padding-bottom: 9px;" id="EmailDiv">
                            <div>
                              <div style="display: inline;" class="fs-4 fw-bold">E-mail</div>
                              <span data-bs-toggle="tooltip" title="Uredi">
                                <svg style="margin-bottom: 6px; margin-left: 10px" type="button" width="18" height="18" onclick="UpdateEmail()" id="UpdateEmail" value="UpdateEmail"><use xlink:href="#pencil-square"/></svg>
                              </span>

                              <div style="display: none; margin-left: 5px" id="formEmailChanges">
                                <button style="border: none; background: none" type="submit" form="NewEmailForm" data-bs-toggle="tooltip" title="Spremi promjene" name='NewEmail'>
                                  <svg style="margin-bottom: 6px;" width="18" height="18"><use xlink:href="#save-changes"/></svg>
                                </button>
                                <span data-bs-toggle="tooltip" title="Odbaci promjene">
                                  <svg style="margin-bottom: 6px;" type="button" width="18" height="18" onclick="CancelUpdateEmail()" id="cancelEmail" value="cancelEmail"><use xlink:href="#cancel-changes"/></svg>
                                </span>
                              </div>
                            </div>
                            <div class="fs-5" id='email'>{{email}}</div>

                            
                            <form action="/osobnipodatci" method="post" id='NewEmailForm'>
                              {% csrf_token %}
                              <div style="max-width: 15rem;" id="EmailCollapse" class="collapse collapse-horizontal">
                                <input type="text" class="form-control" id="email" name="email" placeholder={{email}} Required>
                              </div>
                            </form>
                          </div>
                          {%endif%}
                        </div>
                        
                        <!--Uloga, ustanova i sekcija-->
                        <div class="col-sm">
                          {%if uloga%}
                          <div style="padding-bottom: 9px;">
                            <div class="fs-4 fw-bold">Uloga</div>
                            <div class="fs-5" id='uloga'>{{uloga}}</div>
                          </div>
                          {%endif%}
        
        
                          {%if MaticnaUstanova%}
                          <div style="padding-bottom: 9px;">
                            <div class="fs-4 fw-bold">Matična ustanova</div>
                            <div class="fs-5" id='maticnaUstanova'>{{MaticnaUstanova}}</div>
                          </div>
                          {%endif%}

                          <!-- Ovo cu promijenit kada sekcije budu thing {%if MaticnaUstanova%} -->
                          <div style="padding-bottom: 9px;">
                            <div class="fs-4 fw-bold">Sekcija</div>
                            <div class="fs-5" id='sekcija'>Višnja hvala ti za sok od trešnje</div>
                          </div>
                          <!-- {%endif%} -->
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <footer class="py-2 my-2 container">
              <ul class="nav justify-content-center border-bottom pb-1 mb-1">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Naslovna</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">O konferenciji</a></li>
              </ul>
              <p class="text-center text-muted">© 2021 Pametna ekipa</p>
            </footer>
        </body>

        <script type="text/javascript">
            var userCollapse = document.getElementById("UserNameCollapse");
            var bsUserCollapse = new bootstrap.Collapse(userCollapse, {toggle: false});
            var fNameCollapse = document.getElementById("FNameCollapse");
            var bsFNameCollapse = new bootstrap.Collapse(fNameCollapse, {toggle: false});
            var lNameCollapse = document.getElementById("LNameCollapse");
            var bsLNameCollapse = new bootstrap.Collapse(lNameCollapse, {toggle: false});
            var emailCollapse = document.getElementById("EmailCollapse");
            var bsEmailCollapse = new bootstrap.Collapse(emailCollapse, {toggle: false});

            var user = document.getElementById("korisnickoIme");
            userCollapse.addEventListener('show.bs.collapse', function(){
              user.style.position = "absolute";
              document.getElementById("UserNameDiv").style.paddingBottom = "0px";
            });
            userCollapse.addEventListener('hidden.bs.collapse', function(){
              user.style.position = "relative";
              document.getElementById("UserNameDiv").style.paddingBottom = "9px";
            });

            var fName = document.getElementById("ime");
            fNameCollapse.addEventListener('show.bs.collapse', function(){
              fName.style.position = "absolute";
              document.getElementById("FNameDiv").style.paddingBottom = "0px";
            });
            fNameCollapse.addEventListener('hidden.bs.collapse', function(){
              fName.style.position = "relative";
              document.getElementById("FNameDiv").style.paddingBottom = "9px";
            });

            var lName = document.getElementById("prezime");
            lNameCollapse.addEventListener('show.bs.collapse', function(){
              lName.style.position = "absolute";
              document.getElementById("LNameDiv").style.paddingBottom = "0px";
            });
            lNameCollapse.addEventListener('hidden.bs.collapse', function(){
              lName.style.position = "relative";
              document.getElementById("LNameDiv").style.paddingBottom = "9px";
            });

            var email = document.getElementById("email");
            emailCollapse.addEventListener('show.bs.collapse', function(){
              email.style.position = "absolute";
              document.getElementById("EmailDiv").style.paddingBottom = "0px";
            });
            emailCollapse.addEventListener('hidden.bs.collapse', function(){
              email.style.position = "relative";
              document.getElementById("EmailDiv").style.paddingBottom = "9px";
            });

            window.onload = function(){
              //document.getElementById("NewUserNameForm").style.display = "none";
              //document.getElementById("NewFNameForm").style.display = "none";
              //document.getElementById("NewLNameForm").style.display = "none";
              //document.getElementById("NewEmailForm").style.display = "none";
            };
            function UpdateUserName(){
              //document.getElementById("NewUserNameForm").style.display = "inline";
              document.getElementById("formUserNameChanges").style.display = "inline";
              document.getElementById("UpdateUserName").style.display = "none";

              userCollapse.style.position = "relative";
              bsUserCollapse.toggle();
            }
            function UpdateFName(){
              //document.getElementById("NewFNameForm").style.display = "inline";
              document.getElementById("formFNameChanges").style.display = "inline";
              document.getElementById("UpdateFName").style.display = "none";
              
              fNameCollapse.style.position = "relative";
              bsFNameCollapse.toggle();
            }
            function UpdateLName(){
              //document.getElementById("NewLNameForm").style.display = "inline";
              document.getElementById("formLNameChanges").style.display = "inline";
              document.getElementById("UpdateLName").style.display = "none";
              
              lNameCollapse.style.position = "relative";
              bsLNameCollapse.toggle();
            }
            function UpdateEmail(){
              //document.getElementById("NewEmailForm").style.display = "inline";
              document.getElementById("formEmailChanges").style.display = "inline";
              document.getElementById("UpdateEmail").style.display = "none";
              
              emailCollapse.style.position = "relative";
              bsEmailCollapse.toggle();
            }
            function CancelUpdateUsername(){
              //document.getElementById("NewUserNameForm").style.display = "none";
              document.getElementById("formUserNameChanges").style.display = "none";
              document.getElementById("UpdateUserName").style.display = "inline";
              document.getElementById("korisnickoIme").style.display="inline";
              bsUserCollapse.toggle();
            }
            function CancelUpdateFName(){
              //document.getElementById("NewFNameForm").style.display = "none";
              document.getElementById("formFNameChanges").style.display = "none";
              document.getElementById("UpdateFName").style.display = "inline";
              document.getElementById("ime").style.display = "inline";
              bsFNameCollapse.toggle();
            }
            function CancelUpdateLName(){
              //document.getElementById("NewLNameForm").style.display = "none";
              document.getElementById("formLNameChanges").style.display = "none";
              document.getElementById("UpdateLName").style.display = "inline";
              document.getElementById("prezime").style.display = "inline";
              bsLNameCollapse.toggle();
            }
            function CancelUpdateEmail(){
              //document.getElementById("NewEmailForm").style.display = "none";
              document.getElementById("formEmailChanges").style.display = "none";
              document.getElementById("UpdateEmail").style.display = "inline";
              document.getElementById("email").style.display = "inline";
              bsEmailCollapse.toggle();
            }
        </script>
    </html>