{% load static %}
<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>OsobniPodatci</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" href="{% static '/vectors/icon.svg' %}">
            <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static '/css/headers.css' %}" rel="stylesheet">
            <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
        </head>
        <body>

            <!--Vektorske grafike za header-->
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <!-- gumb za Naslovnicu-->
                <symbol id="home" viewBox="0 0 16 16">
                  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                </symbol>
                <!-- gumb za Prijavu -->
                <symbol id="people-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </symbol>
                <symbol id="sci-con" viewBox="0 0 29 29">
                    
                </symbol>
              </svg>

              <!--Nema potrebe za provjerom jer se podrazumijeva da je korisnik ulogiran-->

            <header>
                <div class="px-3 py-3 bg-dark bg-gradient text-white">
                  <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <img src="{% static '/vectors/SciConIcon.svg' %}" alt="SciCon" class="main-icon">
                      </a>
            
                      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                          <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                            Naslovna
                          </a>
                        </li>
                        <li>
                          <a href="#" class="nav-link text-white">
                            <img src="{% static '/vectors/InfoButton.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                            O konferenciji
                          </a>
                        </li>
                        <li>
                          <a href="#" class="nav-link text-white">
                            <img src="{% static '/vectors/BookIcon.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
                            Moji radovi <!--  Za recenzenta je isti header, samo pise "Moje recenzije". -->
                          </a>
                        </li>
                        <li>
                          <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                            Odjava
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </header>

            <h3>Osobni podatci Template</h3>
            <!--ZA FRONTEND - Vrlo je važno da id ovih elemenata ne mijenjate 
            jer se java script na dnu referira na njih-->

            <!--Klasika za error messages-->
            {% if messages %}
                {% for message in messages %}
                <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                {% endfor %}
            {% endif %}

            <button type="submit"><a href='/'>Home</a></button><br>

            <!--Ako postoje informacije (Tj ako je ulogiran korisnik) prikazi ih-->
            {%if korisnickoIme%}
                <h4>Korisnicko Ime : <h4 id='korisnickoIme'>{{korisnickoIme}}</h4></h4>
                <button type="button" onclick="UpdateUserName()" id="UpdateUserName" value="UpdateUserName">Update</button>
                
                <form action="/osobnipodatci" method="post" id='NewUserNameForm'>
                {% csrf_token %}
                    <input type="text" id="Username" name="Username" placeholder="EnterNewUser" Required>
                    <button type="submit"  name='NewUserName'>Change </button>
                </form>
            {%endif%}
            
            {%if ime%}
                <h4>Ime : <h4 id='ime'>{{ime}}</h4></h4>
                <button type="button" onclick="UpdateFName()" id="UpdateFName" value="UpdateFName">Update</button>
                
                <form action="/osobnipodatci" method="post" id='NewFNameForm'>
                {% csrf_token %}
                    <input type="text" id="Fname" name="Fname" placeholder="EnterNewFname" Required>
                    <button type="submit" name='NewFName'>Change </button>
                </form>
            {%endif%}


            {%if prezime%}
                <h4>Prezime : <h4 id='prezime'>{{prezime}}</h4></h4>
                <button type="button" onclick="UpdateLName()" id="UpdateLName" value="UpdateLName">Update</button>
                
                <form action="/osobnipodatci" method="post" id='NewLNameForm'>
                {% csrf_token %}
                    <input type="text" id="Lname" name="Lname" placeholder="EnterNewLname" Required>
                    <button type="submit" name='NewLName'>Change </button>
                </form>
            {%endif%}


            {%if email%}
                <h4>Email : <h4 id='email'>{{email}}</h4></h4>
                <button type="button" onclick="UpdateEmail()" id="UpdateEmail" value="UpdateEmail">Update</button>
                
                <form action="/osobnipodatci" method="post" id='NewEmailForm'>
                {% csrf_token %}
                    <input type="text" id="email" name="email" placeholder="EnterNewEmail" Required>
                    <button type="submit" name='NewEmail'>Change </button>
                </form>
            {%endif%}


            {%if uloga%}
                <h4>Uloga : <h4 >{{uloga}}</h4></h4>
            {%endif%}


            {%if MaticnaUstanova%}
                <h4>MatičnaUstanova : <h4>{{MaticnaUstanova}}</h4></h4>
            {%endif%}


        </body>
        <script type="text/javascript">
            window.onload = function(){
                document.getElementById("NewUserNameForm").style.display = "none";
                document.getElementById("NewFNameForm").style.display = "none";
                document.getElementById("NewLNameForm").style.display = "none";
                document.getElementById("NewEmailForm").style.display = "none";
            };
            function UpdateUserName(){
                document.getElementById("NewUserNameForm").style.display = "inline";
                document.getElementById("UpdateUserName").style.display = "none";
                document.getElementById("korisnickoIme").style.display = "none";
            }
            function UpdateFName(){
                document.getElementById("NewFNameForm").style.display = "inline";
                document.getElementById("UpdateFName").style.display = "none";
                document.getElementById("ime").style.display = "none";
            }
            function UpdateLName(){
                document.getElementById("NewLNameForm").style.display = "inline";
                document.getElementById("UpdateLName").style.display = "none";
                document.getElementById("prezime").style.display = "none";
            }
            function UpdateEmail(){
                document.getElementById("NewEmailForm").style.display = "inline";
                document.getElementById("UpdateEmail").style.display = "none";
                document.getElementById("email").style.display = "none";
            }
        </script>
    </html>