{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pregled podataka</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/vectors/icon.svg' %}">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/headers.css' %}" rel="stylesheet">
    <!--nas css-->
    <link rel="stylesheet" href="{% static '/css/mycss.css' %}">
    <!--nas css-->
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    
</head>


<body>

  <!--HEADER-->
  {% include "./Header.html" %}
  <!--HEADER-->

  <div class="gradient-custom-3 " style="min-height: 100vh;">
    <div class="container pt-5 pb-5">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">

          <div class="text-uppercase text-center mb-5">
              <div style="padding-bottom: 9px;" id="titleDiv">
                <div>
                  <h2 style="display: inline;" id="myTitle">Pregled podataka</h2>
                </div>
              </div>
              
            <hr>
          </div>


          <div class="container">
            <a href="pregled/recenzenti"><strong>Pregled recenzenata (odobrenih i neodobrenih)</strong></a> <br>
            <a href="pregled/sudionici"><strong>Pregled registriranih sudionika</strong></a> <br>
            <a href="pregled/radovi"><strong>Pregled radova</strong></a> <br>
            - Preuzimanje svih predanih radova<br>
            - Ucini radove javno dostupnima <br>
            - Ukloni javni pristup svim radovima <br>
            - Uredivanje podataka o radu
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <!--FOOTER--> 
  {% include "./Footer.html" %}
  <!--FOOTER-->
  

</body>
    <!--nas js-->
    <script src="{% static '/js/hamburgerActions.js' %}"></script>
    <script src="{% static '/js/updateInfo.js' %}"></script>
    <!--nas js-->
</html>