{% autoescape off %}
Pozdrav,

Dobili smo zahtjev za promjenu lozinke vašeg korisničkog računa. Kako bi pokrenuli proces za promjenu lozinke kliknite ovu poveznicu:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ova poveznica se može iskoristiti samo jedanput. Ako zatrebate ponovno promjeniti lozinku, Molimo posjetite {{ protocol }}://{{domain}} i pošaljite novi zahtjev ponovno.

Ako vi niste pokrenuli ovaj zahtjev, slobodno ignorirajte ovaj mail.

Srdačno,
Pametna Ekipa

{% endautoescape %}