{% autoescape off %}
Poštovani,

Zaprimljen je zahtjev za promjenu lozinke Vašeg korisničkog računa. Za dobivanje nove lozinke kliknite na poveznicu:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ova poveznica može se iskoristiti samo jednom. Poželite li ponovno promijeniti lozinku, molimo posjetite {{ protocol }}://{{domain}} i pošaljite novi zahtjev.

Zanemarite ovu poruku ako niste zatražili novu lozinku.

Srdačan pozdrav,
Pametna Ekipa

{% endautoescape %}