{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pregled radova</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static '/vectors/icon.svg' %}">
  <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/css/headers.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!--nas css-->
  <link rel="stylesheet" href="{% static '/css/mycss.css' %}">

  <!--tablice-->
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
  <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />
  
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

</head>

<body style="min-width: 576px;">

  <!--HEADER-->
  {% include "./Header.html" %}
  <!--HEADER-->

  <div class="gradient-custom-3 " style="min-height: 100vh;">
    <div class="container pt-5 pb-5">

      <!-- MESSAGES -->
      {% include "./Messages.html" %}
      <!-- MESSAGES -->

      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">

          <div class="text-uppercase text-center mb-5">
            <div style="padding-bottom: 9px;" id="titleDiv">
              <div>
                <h2 style="display: block;" id="myTitle">Pregled radova</h2>
                {% if LoggedInUserRole == 'Admin'%}
                <a href="/pregled" class="btn btn-outline-secondary">Vrati se na pregled</a>
                {%else%}
                <a href="/predsjedavajuci" class="btn btn-outline-secondary">Vrati se na upravljačko sučelje</a>
                {%endif%}
              </div>
            </div>
            <hr>
          </div>
          <div class="container" >
            <form action="radovi" method="POST">
              {% csrf_token %}
              {% if brojPredanihRadova != 0%}
                <button type="submit" class="btn btn-primary" name="downloadAll">Preuzmi sve</button>
              {% else %}
                <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Niti jedan rad nije predan" disabled>Preuzmi sve</button>
              {% endif %}
            </form>
          </div>
          <div class="table-responsive container mt-3 mb-3">
            <table class="table table-hover table-bordered" style="background-color: white;" id="tablicaRadovi">
              <thead style="border-bottom: 1px;">
                <tr class="text-center">
                  <th scope="col">#</th>
                  <th scope="col">Naslov</th>
                  <th scope="col">Status recenzije</th>
                  <th scope="col">Predao</th>
                  <th scope="col">Sekcija</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for rad in Radovi %}
                  <tr class="text-center">
                    <th scope="row">{{rad.sifRad}}</th>
                    <td><a href="radovi/{{rad.sifRad}}">{{rad.naslov}}</a></td>
                    <td>{{rad.recenziranBool|yesno:"Recenziran,Nije recenziran,Nema podataka"}}</td>
                    <td>{{rad.radKorisnik_prezime}}</td>
                    <td>{{rad.radSekcija_naziv}}</td>
                    <td>
                      {% if rad.pdf != "" %}
                        <a class="btn btn-sm btn-primary" href="/Radovi/{{rad.pdf}}" role="button" title="Otvori rad">
                          Otvori
                        </a>
                        <a class="btn btn-sm btn-outline-primary" href="/Radovi/{{rad.pdf}}" role="button" download="{{rad.naslov}}">
                          Preuzmi
                        </a>
                      {% else %}
                        <a class="btn btn-sm btn-danger" role="button">Nije predan</a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

          {% if LoggedInUserRole == 'Admin'%}
          <div class="d-flex justify-content-end">
            <div>
              <br>
              <small class="text-muted">Klikom na naslov rada pristupate sučelju za promjenu podataka vezanih za željeni rad.</small>
            </div>
          </div>
          {%endif%}

        </div>
      </div>
    </div>
  </div>



  <!--FOOTER-->
  {% include "./Footer.html" %}
  <!--FOOTER-->


</body>
<!--nas js-->
<script src="{% static '/js/hamburgerActions.js' %}"></script>
<script src="{% static '/js/updateInfo.js' %}"></script>
<!-- postavlja tooltip -->
<script>
  window.onload = function(){
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
  }
</script>
<!--bitno za datatables-->
<script>
  $(document).ready( function () {
    $('#tablicaRadovi').DataTable({
      responsive: {
        breakpoints: [
          {name: 'bigdesktop', width: Infinity},
          {name: 'meddesktop', width: 1480},
          {name: 'smalldesktop', width: 1280},
          {name: 'medium', width: 1188},
          {name: 'tabletl', width: 1024},
          {name: 'btwtabllandp', width: 848},
          {name: 'tabletp', width: 768},
          {name: 'mobilel', width: 480},
          {name: 'mobilep', width: 320}
        ]
      },
      "columnDefs": [ {
          "targets": 5,
          "orderable": false
      }],
      language: {
        lengthMenu: "Prikaži _MENU_ redaka po stranici",
        zeroRecords: "Nema podataka",
        info: "Prikazana je _PAGE_ od _PAGES_ stranica",
        infoEmpty: "Nema podataka",
        infoFiltered: "(filtrirano od _MAX_ ukupnih stavki)",
        search: "Pretraži:",
        paginate: {
            first: "Prva",
            last: "Zadnja",
            next: "Sljedeća",
            previous: "Prethodna"
        }
      }
    });
  } );
</script>
<!--nas js-->

</html>