{% load static %}
<!DOCTYPE html>
    <html>

        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Registracija</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" href="{% static '/vectors/icon.svg' %}">
            <link href="{% static '/css/bootstrap-grid.css' %}" rel="stylesheet">
            <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static '/css/headers.css' %}" rel="stylesheet">
            <!--nas css-->
            <link rel="stylesheet" href="{% static '/css/mycss.css' %}">
            <!--nas css-->
            <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

        </head>


    
        <body style="min-width:576px">

            <!--HEADER-->
            {% include "./Header.html" %}
            <!--HEADER-->
            

            <div class="gradient-custom-3">
              <div class="mask">

                <!-- MESSAGES -->
                {% include "./Messages.html" %}
                <!-- MESSAGES -->
                
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                      <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                          <h2 class="text-uppercase text-center mb-5">Registracija</h2>
            
                          <form action="/signup" method="post" id="form">
                            {% csrf_token %}

                            <div class="form-outline mb-4">
                              <label class="form-label" for="">Korisničko ime</label>
                              <input type="text" id="Username" name="Username" class="form-control form-control-lg" required/>
                            </div>
            
                            <div class="form-outline mb-4">
                              <label class="form-label" for="">Ime</label>
                              <input type="text" id="Fname" name="Fname" class="form-control form-control-lg" onkeypress="return /[a-z]/i.test(event.key)" required/>
                            </div>

                            <div class="form-outline mb-4">
                              <label class="form-label" for="">Prezime</label>
                              <input type="text" id="Lname" name="Lname" class="form-control form-control-lg" onkeypress="return /[a-z]/i.test(event.key)" required/>
                            </div>
            
                            <div class="form-outline mb-4">
                              <label class="form-label" for="">E-mail</label>
                              <input type="email" id="email" name="email" class="form-control form-control-lg" required/>
                            </div>

                            <div class="form-outline mb-4">
                              <label class="form-label" for="">Naziv matične ustanove</label>
                              <input type="text" id="matustName" name="matustName" class="form-control form-control-lg" onkeypress="return /[a-z]/i.test(event.key)" required/>
                            </div>

                            <div class="form-outline mb-4">
                              <label class="form-label" for="">Adresa matične ustanove</label>
                              <input type="text" id="matustAdr" name="matustAdr" class="form-control form-control-lg" required/>
                            </div>

                            <div class="form-outline mb-4">
                              <label class="form-label" for="">Mjesto matične ustanove</label>
                              <input type="text" id="matustCity" name="matustCity" class="form-control form-control-lg" onkeypress="return /[a-z]/i.test(event.key)" required/>
                            </div>

                            <div class="form-outline mb-4">
                              <label class="form-label" for="">Država matične ustanove</label>
                              <select name="matustDrz" id="matustDrz" class="form-control form-control-lg" required>
                                {%for drzava in Drzave%}
                                  <option value="{{drzava}}" class="form-control form-control-lg">{{drzava}}</option>
                                {%endfor%}
                              </select>
                            </div>

                            {%if DodatnaPolja%}<!--Ako postoji u bazi dodatna polja ispisi ih u formu-->
                                {%for polje in DodatnaPolja%}
                                  {%if polje.active == True %}
                                    <div class="form-outline mb-4">
                                      <label class="form-label" for="{{polje.imePolja}}">{{polje.imePolja}}</label>
                                      <input class="form-control form-control-lg" type="{{polje.tipPolja.naziv}}" name="{{polje.imePolja}}" id="{{polje.imePolja}}" {%if polje.obavezan == True%} required/ {%endif%}>
                                      <br>
                                    </div>
                                  {%endif%} 
                                {%endfor%}
                            {%endif%}

                            <div class="form-outline mb-4" style="text-align: center;">
                              <label for="">Prijavljujem se kao: </label>

                            </div>
                            
                            <div class="form-outline mb-4 radiobuttons">
                              <div class="button">
                                <input type="radio" id="sudionik" name="uloga" value="Sudionik" onclick=UpdateOnSudionik() checked>
                                <label for="sudionik" class="emphasized-text"><b>Sudionik</b></label>
                              </div>
                              <div class="button">
                                <input type="radio" id="recenzent" name="uloga" value="Recenzent" onclick=UpdateOnRecezent()>
                                <label for="recenzent" class="emphasized-text"><b>Recenzent</b></label></div>
                            </div>

                            {%if sekcije%}
                            <div class="form-outline mb-4">
                              <label class="form-label" for="" id='sectionLabel'>Sekcija</label>
                              <select type="text" id="section" name="section" class="form-control form-control-lg" required>
                                {%for sekcija in sekcije%}
                                <option value="{{sekcija.naziv}}">{{sekcija.naziv}}</option>
                                {%endfor%}
                              </select>
                            </div>
                            {%endif%} 

                            <div id="stvariZaSudionika">
                              <div class="form-outline mb-4">
                                <label class="form-label" for="" id='titleLabel'>Naslov rada</label>
                                <input type="text" id="title" name="title" class="form-control form-control-lg" required/>
                              </div>
                              
                              <div class="fs-5">Podaci o autorima:</div>
                              <div class="row">
  
                                <div id="autori" class="mb-2">
  
                                  <div id="jedanAutor">

                                    <label class="form-label" for="" id="authorsLabel">1.</label>
                                    <div id="autorIme" class="input-group col-md-10 col-10 mb-1">
                                      <input type="text" id="autorFName0" name="autorFName0" aria-label="Ime" placeholder="Ime" class="form-control form-control-lg" required>
                                      <input type="text" id="autorLName0" name="autorLName0" aria-label="Prezime" placeholder="Prezime" class="form-control form-control-lg" required>
                                    </div>

                                    <div id="autorPodaci" class="input-group col-md-10 col-10 mb-1">
                                      <input type="email" id="autorEmail0" name="autorEmail0" aria-label="E-mail" placeholder="E-mail" class="form-control form-control-lg" required/>
                                      <div id="autorPodaciKontakt" class="input-group-text">
                                        <input type="radio" id="autorKontakt0" name="autorKontakt0" aria-label="Kontakt" class="form-check-input form-check-lg" required/>
                                        <label class="form-check-label" id="autorKontaktLabel0" style="margin-top:4px; margin-left:4px"for="autorKontakt0">Osoba za kontakt</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="col-md-4 mb-4">
                                  <button type="button" class="btn btn-primary btn-lg" id="btnDodajAutora" onclick=AddAuthor()>
                                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#person-plus"/></svg>
                                  </button>
                                  <button type="button" class="btn btn-outline-primary btn-lg" id="btnMakniAutora" onclick=RemoveAuthor()>
                                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#person-dash"/></svg>
                                  </button>
                                  <input type="number" min="0" name="brojAutora" id="brojAutora" class="form-control" value="1" hidden></input>
                                </div>          
                              </div>
                            </div>
                            <input style = "margin-bottom: 5%;" type="checkbox" id="gdpr" name="gdpr" value="gdpr" required>
                            <label for="gdpr"> Pristajem na pohranu i korištenje ovih podataka u skladu s GDPR-om. </label>
                            <br>
                            
                            <div class="form-outline mb-4">
                              <button type="submit" class="btn btn-primary btn-lg form-control form-control-lg">Registriraj se</button>
                            </div>
            
                            <p class="text-center text-muted mt-5 mb-0">Već imaš račun? <a href="signin" class="fw-bold text-body"><u>Prijavi se</u></a></p>
            
                          </form>
            
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <!--FOOTER-->
            {% include "./Footer.html" %}
            <!--FOOTER-->
            
            
            
        </body>

        <!--nas js-->
        <script src="{% static '/js/hamburgerActions.js' %}"></script>
        <script src="{% static '/js/manageAuthors.js' %}"></script>
        <script src="{% static '/js/signinDisplay.js' %}"></script>
        <!--nas js-->

    </html>