{% load static %}
<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>
              Složi obrazac
            </title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" href="{% static '/vectors/icon.svg' %}">
            <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static '/css/headers.css' %}" rel="stylesheet">
            <!--nas css-->
            <link rel="stylesheet" href="{% static '/css/mycss.css' %}">
            <!--nas css-->
            <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
        </head>


        <body style="min-width: 500px">

            <!--HEADER-->
            {% include "./Header.html" %}
            <!--HEADER-->


            <div class="gradient-custom-3 " style="min-height: 100vh;">
                <div class="container pt-5 pb-5">
                  <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">

                    
                    
                      <div class="text-uppercase text-center mb-5">
                        {% if LoggedInUserRole == "Admin" %}
                        <h2>Uredi obrazac za registraciju</h2>
                        {% endif %}
                        <hr>
                      </div>
                      
                      <!--ZA FRONTEND - Vrlo je važno da id ovih elemenata ne mijenjate 
                      jer se java script na dnu referira na njih-->
    
                      <!--Klasika za error messages-->
                      {% if messages %}
                          {% for message in messages %}
                          <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                          {% endfor %}
                      {% endif %}
                      
                      <p class="text-center text-muted mt-5 mb-0">Ovdje možete definirati novo polje za registracijski obrazac. </p>
                      <br>
                        
                      
                      <div class="container">
                        <div class="row">
                            <div class="col-sm">
          
                                <div class="col-sm">
                                    <div style="padding-bottom: 9px;" id="UserNameDiv">

                                    <div>
                                    <form action="/sloziobrazac" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="form-outline mb-4">
                                            <label class="fs-6 fw-bold" for="">Naziv novog polja za obrazac:</label>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <input type="text" name="fieldName" id="fieldName" class="form-control form-control-lg" required>
                                        </div>
                                        
                                        <div class="form-outline mb-4">
                                            <label class="fs-6 fw-bold" for="">Odaberite tip podatka novog polja:</label>
                                        </div>

                                        <div>
                                            <ul class="fs-6 buttons">
                                                <li class="fs-6"><input type="radio" name="fieldType" id="text" value="text" checked="checked"> običan tekst</li>
                                                <li class="fs-6"><input type="radio" name="fieldType" id="date" value="date"> datum</li>
                                                <li class="fs-6"><input type="radio" name="fieldType" id="number" value="number"> broj</li>
                                            </ul>
                                        </div>

                                        <br>

                                        <div class="row" style="display: grid; grid-template-columns: 1fr 1fr 1fr; justify-items: center;">
                                            <button type="submit" class="btn btn-primary btn-md" name='AddNewField' value="Update" style="grid-column: 2;">Dodaj novo polje</button>
                                        </div>

                                    
                                    </form>

                                    {%if DodatnaPolja%}<!--Ako postoji u bazi dodatna polja ispisi ih u formu-->

                                    <br><hr><br>

                                    <div class="text-center mb-5">
                                        <h2>Aktivna polja</h2>
                                    </div>

                                        
                                        <form action="/sloziobrazac" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <p class="text-center text-muted mt-5 mb-0">Odaberite polja koja želite uključiti u obrazac za registraciju.</p>
                                            
                                            <div class="active-fields-container">
                                                <div class="text-center text-muted mt-5 mb-0">Naziv polja</div>
                                                <div class="text-center text-muted mt-5 mb-0">Tip polja</div>
                                                <div class="text-center text-muted mt-5 mb-0">Je li polje u obrascu?</div>
                                            </div>

                                            <div class="active-fields-container">
                                                <hr style="width: 30%; height: 0.05rem;">
                                                <hr style="width: 30%; height: 0.05rem; text-align: center;">
                                            </div>

                                            <div class="container-of-containers">
                                                {%for polje in DodatnaPolja%}
                                            <div class="active-fields-container">
                                                <div class="labels mb-0">
                                                    <label class="fs-6" for="{{polje.imePolja}}">{{polje.imePolja}}
                                                </div>

                                                <div class="labels mb-0">
                                                  {%if polje.tipPolja.naziv == "text"%}
                                                  <label class="fs-6" for="{{polje.imePolja}}"><i>obični tekst</i>
                                                  {%elif polje.tipPolja.naziv == "date"%}
                                                  <label class="fs-6" for="{{polje.imePolja}}"><i>datum</i>
                                                  {%elif polje.tipPolja.naziv == "number"%}
                                                  <label class="fs-6" for="{{polje.imePolja}}"><i>broj</i>
                                                  {%endif%}
                                                </div>
                                                
                                                <div class="checkboxes mb-0">
                                                    <input type="checkbox" name="{{polje.imePolja}}" id="{{polje.imePolja}}" {%if polje.active == True%} checked {%endif%}>
                                                </div>
                                            </div>
                                                {%endfor%}
                                            </div>


                                            <br>

                                            
                                            <div class="row" style="display: grid; grid-template-columns: 1fr 1fr 1fr; justify-items: center;">
                                                <button type="submit" class="btn btn-primary btn-lg" name='ActiveFields' value="Update" style="grid-column: 2;">Ažuriraj obrazac</button>
                                            </div>

                                    {%endif%}
                                    </div>
                                    
                                    </div>
                                </div>

                            </div>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>

            <!--FOOTER-->
            {% include "./Footer.html" %}
            <!--FOOTER-->

        </body>

    <!--nas js-->
    <script src="{% static '/js/hamburgerActions.js' %}"></script>
    <!--nas js-->
  
    </html>