{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Upravljačko sučelje</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static '/vectors/icon.svg' %}">
  <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/css/headers.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!--tablice-->
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
  <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />

  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  
  <!--nas css-->
  <link rel="stylesheet" href="{% static '/css/mycss.css' %}">

</head>

<body>
    <!--HEADER-->
    {% include "./Header.html" %}
    <!--HEADER-->

    <div class="gradient-custom-3 " style="min-height: 100vh;">
        <div class="container pt-5 pb-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                
                <div class="text-uppercase text-center mb-5">
                    <div style="padding-bottom: 9px;" id="titleDiv">
                      <div>
                        <h2 style="display: inline;" id="myTitle">Statistika prijava</h2>
                      </div>
                      <a href="/adminsucelje" class="btn btn-outline-secondary">Vrati se na admin sučelje</a>
                    </div>
                  <hr>
                </div>

                <div class="container" >
                    <div class="container mt-100 mt-60 mb-5">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="section-title">
                                    <h3 class="title">Aktivni korisnici ({{brojAktivni}})</h3>
                                    <p class="text-muted para-desc mx-auto mb-0">Ovdje možete vidjeti trenutno prijavljene korisnike.</p>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    
                        <div class="row">
                            {%for korisnik in aktivniKorisnici %}
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="mt-4 pt-2">
                                    <div class="team position-relative d-block text-center">
                                        <div class="position-relative d-block">
                                          {%if korisnik.vrstaKorisnik.naziv == "Admin" %}
                                          <div class="res-circle content d-inline-block" style="background-color: #1c3a9c;">
                                            <div class="circle-txt" style="font-weight:bold; font-size:x-large">A</div>
                                          </div>
                                          {%elif korisnik.vrstaKorisnik.naziv == "Recenzent" %}
                                          <div class="res-circle content d-inline-block" style="background-color: #c1666b;">
                                            <div class="circle-txt" style="font-weight:bold; font-size:x-large">R</div>
                                          </div>
                                          {%elif korisnik.vrstaKorisnik.naziv == "Sudionik" %} 
                                          <div class="res-circle content d-inline-block" style="background-color: #8fb5cc;">
                                            <div class="circle-txt" style="font-weight:bold; font-size:x-large">S</div>
                                          </div>
                                          {%else%}
                                          <div class="res-circle content d-inline-block" style="background-color: yellowgreen;">
                                            <div class="circle-txt" style="font-weight:bold; font-size:x-large">P</div>
                                          </div>
                                          {%endif%}

                                        </div>
                                        <div class="content py-2 bg-white border-bottom rounded d-inline-block" style="padding: 0.5rem;">
                                            <h5 class="title mb-0">{{korisnik.korisnickoIme}}</h5>
                                            <small class="text-muted">{{korisnik.vrstaKorisnik.naziv}}</small>
                                        </div>
                                        <!--end icon-->
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div><!--end row-->
                    </div>

                    <div class="container" style="display: flex">

                      <div class="container mt-100 mt-60 mb-5">
                        <div class="row">
                          <div class="col-12 text-center">
                              <div class="section-title">
                                  <h3 class="title">Sudionici ({{sudionici_svi}})</h3>
                                  <p class="text-muted para-desc mx-auto mb-0">Ovdje možete vidjeti broj sudionika.</p>
                              </div>
                          </div><!--end col-->
                      </div><!--end row-->
  
                      <div class="container mb-2">
                        <canvas id="myChartSudionici" style="width:100%;"></canvas>
                      </div>
  
                      </div>

                      <div class="container mt-100 mt-60 mb-5" >
                        <div class="row">
                          <div class="col-12 text-center">
                              <div class="section-title">
                                  <h3 class="title">Recenzenti ({{recenzenti_svi}})</h3>
                                  <p class="text-muted para-desc mx-auto mb-0">Ovdje možete vidjeti broj recenzenata te njihove trenutne statuse.</p>
                              </div>
                          </div><!--end col-->
                      </div><!--end row-->
  
                      <div class="container mb-2">
                        <canvas id="myChartRecenzenti" style="width:100%;"></canvas>
                      </div>
  
                      </div>

                    </div>

                    <div class="container" style="display: flex">

                      <div class="container mt-100 mt-60 mb-5">
                        <div class="row">
                          <div class="col-12 text-center">
                              <div class="section-title">
                                  <h3 class="title">Radovi ({{radovi}})</h3>
                                  <p class="text-muted para-desc mx-auto mb-0">Ovdje možete vidjeti broj radova te njihove statuse, kao i broj autora.</p>
                              </div>
                          </div><!--end col-->
                      </div><!--end row-->
  
                      <div class="container mb-2">
                        <canvas id="myChartRadovi" style="width:100%;"></canvas>
                      </div>
  
                      </div>


                      <div class="container mt-100 mt-60 mb-5" >
                        <div class="row">
                          <div class="col-12 text-center">
                              <div class="section-title">
                                  <h3 class="title">Sekcije ({{sve_sekcije}})</h3>
                                  <p class="text-muted para-desc mx-auto mb-0">Ovdje možete vidjeti broj radova po sekcijama.</p>
                              </div>
                          </div><!--end col-->
                      </div><!--end row-->
  
                      <div class="container mb-2">
                        <canvas id="myChartSekcije" style="width:100%;"></canvas>
                      </div>
  
                      </div>

                    </div>


                    <div class="container" style="display: flex">

                      <div class="container mt-100 mt-60 mb-5">
                        <div class="row">
                          <div class="col-12 text-center">
                              <div class="content py-2 bg-white border-bottom rounded d-inline-block" style="padding: 0.5rem;">
                                  <h3 class="title mb-2">Ustanove ({{sve_ustanove}})</h3>
                                  <p class="mb-0">Ukupan broj različitih ustanova: </p>
                                  <h4><strong>{{ustanove}}</strong></h4>
                              </div>
                          </div><!--end col-->
                      </div><!--end row-->
  
                      </div>

                      <div class="container mt-100 mt-60 mb-5" >
                        <div class="row">
                          <div class="col-12 text-center">
                              <div class="section-title">
                                  <h3 class="title">Korisnici ({{korisnici}})</h3>
                                  <p class="text-muted para-desc mx-auto mb-0">Ovdje možete vidjeti broj korisnika po ulogama.</p>
                              </div>
                          </div><!--end col-->
                      </div><!--end row-->
  
                      <div class="container mb-2">
                        <canvas id="myChartKorisnici" style="width:100%;"></canvas>
                      </div>
  
                      </div>

                    </div>


                    <div class="container mt-100 mt-60 mb-5">
                      <div class="row" style="flex-flow: column wrap;">
                        <div class="col-12 text-center">
                            <div class="section-title">
                                <h3 class="title">Države ({{broj_drzava}})</h3>
                                <p class="text-muted para-desc mx-auto mb-0">Ovdje možete vidjeti broj korisnika koji dolaze iz pojedinih država.</p>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                    <div class="container mb-2">
                      <canvas id="myChartDrzave" style="width:100%;"></canvas>
                    </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
 <!--za graf-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
 <!--za graf-->

 <!--nas js-->
 <script src="{% static '/js/hamburgerActions.js' %}"></script>
 <!--nas js-->

<!--bitno za datatables-->
<script>
    $(document).ready( function () {
      $('#tablicaNeodobreni').DataTable({
        responsive: {
          breakpoints: [
            {name: 'bigdesktop', width: Infinity},
            {name: 'meddesktop', width: 1480},
            {name: 'smalldesktop', width: 1280},
            {name: 'medium', width: 1188},
            {name: 'tabletl', width: 1024},
            {name: 'btwtabllandp', width: 848},
            {name: 'tabletp', width: 768},
            {name: 'mobilel', width: 480},
            {name: 'mobilep', width: 320}
          ]
        },
        language: {
          lengthMenu: "Prikaži _MENU_ redaka po stranici",
          zeroRecords: "Nema podataka",
          info: "Prikazana je _PAGE_ od _PAGES_ stranica",
          infoEmpty: "Nema podataka",
          infoFiltered: "(filtrirano od _MAX_ ukupnih stavki)",
          search: "Pretraži:",
          paginate: {
              first: "Prva",
              last: "Zadnja",
              next: "Sljedeća",
              previous: "Prethodna"
          }
        }
      });
    } );
  </script>
<!--bitno za datatables-->

<!--za grafove-->
<script>

  var sekcije = {{radovi_po_sekcijama|safe}};
  var xValues = [];
  var yValues = [];
  var brSekcija = {{sve_sekcije}};

  for (key in sekcije) {
    xValues.push(key);
    yValues.push(sekcije[key]);
  }

  //za razlicite boje stupaca
  var barColors = [];
  for(var j = 0; j < brSekcija; j++) {
    var letters = "0123456789ABCDEF";
    var color = '#';
    for (var i = 0; i < 6; i++)
       color += letters[(Math.floor(Math.random() * 16))];
    barColors.push(color);
  }
  //za razlicite boje stupaca

  new Chart("myChartSekcije", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
      }
    }
  });


  var korisnici = {{korisnici_po_ulogama|safe}};
  xValues = [];
  yValues = [];

  for (key in korisnici) {
    xValues.push(key);
    yValues.push(korisnici[key]);
  }

  new Chart("myChartKorisnici", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: ["darkblue", "yellowgreen","#c1666b", "#8fb5cc"],
        data: yValues
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
      }
    }
  });

  new Chart("myChartRadovi", {
    type: "bar",
    data: {
      labels: ["Prijavljeni", "Predani","Recenzirani","Broj različitih autora"],
      datasets: [{
        backgroundColor: ["darkblue", "yellowgreen","green", "lightblue"],
        data: [{{prijavljeni_radovi}}, {{predani_radovi}}, {{recenzirani_radovi}}, {{autori}}]
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
      }
    }
  });

  new Chart("myChartRecenzenti", {
    type: "bar",
    data: {
      labels: ["Registrirani", "Potvrđeni","Čekaju odobrenje","Odobreni","Odbijeni"],
      datasets: [{
        backgroundColor: ["darkblue", "yellowgreen", "orange", "green", "darkred"],
        data: [{{recenzenti_svi}}, {{recenzenti_aktivni}}, {{recenzenti_wait}}, {{recenzenti_potvrdeni}}, {{recenzenti_odbijeni}}]
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
      }
    }
  });

  new Chart("myChartSudionici", {
    type: "bar",
    data: {
      labels: ["Registrirani", "Potvrđeni"],
      datasets: [{
        backgroundColor: ["darkblue", "lightblue"],
        data: [{{sudionici_svi}}, {{sudionici_aktivni}}]
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
      }
    }
  });
  var drzave = {{sudionici_po_drzavama | safe}};
  xValues = [];
  yValues = [];
  var brDrzava = {{broj_drzava}};

  for (var key in drzave) {
    xValues.push(key);
    yValues.push(drzave[key]);
  }

  //za razlicite boje stupaca
  var barColors = [];
  for(var j = 0; j < brDrzava; j++) {
    var letters = "0123456789ABCDEF";
    var color = '#';
    for (var i = 0; i < 6; i++)
       color += letters[(Math.floor(Math.random() * 16))];
    barColors.push(color);
  }
  //za razlicite boje stupaca

  new Chart("myChartDrzave", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
      }
    }
  });
</script>
<!--za grafove-->

</html>